@import "../../styles/variables";
.nav_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: black;
  height: 70px;
  .search_box {
    position: relative;
    display: flex;
    width: 40%;
    align-items: center;
    input {
      border-radius: 20px;
      border: 1px solid black;
      margin-left: 30px;
      width: 80%;
      height: 30%;
      outline: none;
    }

    img {
      pointer-events: none;
      position: absolute;
      right: 10%;
      height: 20%;
      width: 20%;
    }
  }

  .cart_login {
    display: flex;
    justify-content: flex-end;
    width: 30%;

    align-items: center;
    .cart_btn {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30px;
      width: 30px;
      margin: 20px;
      border-radius: 50%;
      background-color: transparent;
      border: none;
      outline: none;

      .cart_icon {
        height: 20px;
        width: 20px;
        color: $color2;
      }
    }
    .login_btn {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      width: 100px;
      margin-right: 20px;
      border-radius: 50%;
      background-color: transparent;
      border: 2px solid white;
      outline: none;
      color: $color2;
      .login_icon {
        height: 40px;
        width: 40px;
      }
    }
  }
}
