header{
    display: flex;
    flex-direction: row;
justify-content: space-between;
    color:black;
    background-color: #dd7230;
    height: 70px;
    .search-box{ 
        position: relative;
        display: flex;
        width: 500px;
      
        align-items: center;
        input{ 
            margin-left: 30px;
            width: 80%;
        height: 30%;
    }
    img{
        pointer-events: none;
       position: absolute;
       right: 27px;
        height: 20%;
        width: 20%;
    }
    }

    .cart-login{
        display: flex;
        justify-content: flex-end;
        width: 500px;
      
        align-items: center;
        .cart-btn{ display: flex;
            justify-content: center;
            align-items: center;
            height: 30px;
            width: 30px;
            margin: 20px;
            border-radius: 50%;
            background-color: transparent;
            border: none;

            .cart-icon{
                        height: 20px;
                        width: 20px;
                    }
        }
        .login-btn{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            width: 50px; 
            margin-right: 20px;
            border-radius: 50%;
            background-color: transparent;
            border: 2px solid black;
             .login-icon{
            height: 40px;
            width: 40px;
        }
        }
       
       
    }
    
}