@import './styles/variables';
body{
    background-color: $color3;
}
.wrapper{
    margin: auto;
    max-width: 1400px;
    overflow:visible;
    
    .navcolor{
        background-color: $color2;
        width: 100%;
        height: 50px;
       z-index: -1;
    }
}