.modal_main_div {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
  //max-height: 80%;
  //height: 500px;
  //max-width: 80%;
  //width: 500px;
  height: 80%;
  width: 80%;
  background-color: white;
  .close_btn {
    background-color: transparent;
    border: none;
    position: fixed;
    right: 20px;
    top: 20px;
  }
  .main_content {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
.overlay_div {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.7);
}
